*~
moderncv
template_CV
.DS_Store
summaryOfContribution_SUSY_chen.*
log
CV_shionChen_20*
CV_shionChen_ILC.*
old_cache*
CV_shionChen.bbl
CV_shionChen.blg
CV_shionChen.out
CV_shionChen.log
CV_shionChen.aux
CV_shionChen.synctex.gz
CV_EWKinoLimit/